@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-categories-container {
  display: flex;
  width: max-content;
  animation: scrollInfinite 25s linear infinite;
  
  &:hover {
    animation-play-state: paused;
  }
}
